<button (click)="click()">Set card</button>
<button (click)="click2()">Set card 2</button>
<button (click)="setnull()">Set null</button>
<hr />
<pitch-player-card [card]="emptyCard" size="sm" spinOnInit="true"></pitch-player-card>
<pitch-player-card [card]="card" size="sm" mode="squad"></pitch-player-card>
<hr />
<pitch-player-card [card]="emptyCard"></pitch-player-card>
<pitch-player-card [card]="card" mode="squad"></pitch-player-card>
<hr />
<pitch-player-card [card]="emptyCard" size="lg"></pitch-player-card>
<pitch-player-card [card]="card" size="lg" mode="squad"></pitch-player-card>
<hr />
<div style="text-align: center">
    <pitch-player-card [card]="emptyCard" size="sm" mode="squad"></pitch-player-card>
    <pitch-player-card [card]="noCard" size="sm"></pitch-player-card>
</div>