<div [id]="id" (click)="click()" class="player" [ngClass]="size">
    <div *ngIf="!opened">
        <div *ngIf="!(mode && mode == 'squad')" class="ribbon">
            <div fittext [maxFontSize]="40">Regular Pack</div>
        </div>
        <div class="shield cover absolute z-10"></div>
    </div>
    <div class="shield {{cardModel?.rarity}}" [ngClass]="{'opened' : opened}">
        <div *ngIf="cardModel" class="shield fitness absolute z-10" [style.height.%]="100 - cardModel?.fitness"></div>
        <div class="text-container" *ngIf="cardModel">
            <div class="position">
                <div fittext>{{cardModel?.position}}</div>
            </div>
            <div class="name">
                <div fittext [maxFontSize]="maxFontSize()">{{cardModel?.name}}</div>
            </div>
            <div class="rating">
                <div fittext>{{cardModel?.rating}}</div>
            </div>
        </div>
    </div>
</div>