:host { display:inline-block; }

.gradient-animation(@start, @end) {
    background-size: 100%;
    background-image: -webkit-linear-gradient(@start, @end);
    background-image: linear-gradient(@start, @end);
}

.absolute {
  position:absolute;
}

.player {
    cursor: pointer;
    display: inline-block;
    overflow:hidden;
    position:relative;
    -webkit-clip-path: polygon(50% 0%, 93% 19%, 85% 86%, 50% 100%, 15% 86%, 7% 19%);
    clip-path: polygon(50% 0%, 93% 19%, 85% 86%, 50% 100%, 15% 86%, 7% 19%);

    &.sm {
      width: 90px;
      height: 90px;

      .shield {
        width: 90px;
        height: 90px;
      }
    }

    &.md {
      width: 140px;
      height: 140px;

      .shield {
        width: 140px;
        height: 140px;
      }
    }

    &.lg {
      width: 200px;
      height: 200px;

      .shield {
        width: 200px;
        height: 200px;
      }
    }

    .text-container {
      padding-top:10%;
      height: 100%;
      width:100%;
    }

    .position {
      margin-top: 10%;
      width: 20%;
      margin: 0 auto;
      white-space: nowrap;
    }

    .name {
      width: 60%;
      height: 30%;
      margin: 0 auto;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

    .rating {
      width: 40%;
      margin: 0 auto;
      white-space: nowrap;
      bottom: 5%;
      position: absolute;
      text-align: center;
      left: 30%;
    }

}


.ribbon {
  position:absolute;
  top: 30%;
  width:100%;
  background-color: darken(#abbaab , 10%);
  height: 30%;
  z-index: 100;
  text-align:center;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center; 

  div {
    padding:10px;
  }
}


.shield {
    user-select: none;
    display: block;
    text-align: center;

      .name,
      .rating,
      .position {
        opacity: 0;
      }

      &.opened {
        .name,
        .rating,
        .position {
          opacity: 100;
        }
      }
  
    &.gold {
      //background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
      //background: radial-gradient(ellipse farthest-corner at left top, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
      background: #F2994A;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  
    &.silver {
      .gradient-animation(grey, silver);
    }
  
    &.bronze {
      .gradient-animation(#cd7f32, #be7023);
    }

    &.cover {
      background: #abbaab;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #d6ddd6, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #d6ddd6, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
  
    &.special {
      background: #B993D6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &.super-rare {
      background: #c31432;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

  }
